:root{
    --primary1: #FDE5EC;
    --primary2: #FCBAAD;
    --secondary1: #E48586   ;
    --secondary2: #916DB3;
    --primary: #f7cac9;
    --secondary: #f7786b
}

*{
    padding: 0;
    margin: 0;
    font-family: poppins;
    text-decoration: none;
    text-emphasis: none;
}


.products__container{
    margin: 30px;
}
.products__container h1{
    text-align: center;
}

.row{
    justify-content: center;
}
.product__pic1 {
    border-radius: 10px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none   ;
}
.col-md-4{
    padding-bottom: 12px;
}
.thumbnail{
    border: 2px grey solid;
    border-radius: 10px;
}
.thumbnail img{
    height: 219px;
    width: 226px;
}
.thumbnail:hover{
    background-color: #916DB3;

}
.caption{
    color: #E48586;
}